.dark {background: #fff; box-shadow: 4px 4px 10px 0 rgba(69, 129, 246, 0.15);}

.opened::before {
    background: #152441 !important; 
    content: ''; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    z-index: 10;
}

@media (min-width: 1024px) {
    .light li:hover > a, 
    .light a ~ ul > li:hover, 
    .light a:hover,
    .dark a:hover, 
    .dark a ~ ul > li:hover {color: #1763F4 !important;}
    
    .light a:hover .arrowBottom, 
    .light li:hover .arrowBottom, 
    .dark a:hover .arrowBottom, 
    .dark li:hover .arrowBottom {stroke: #1763F4;}

    .light li > a {color: #141414 !important; }
}

.dark a > svg {fill: #141414; width: 3.2rem;}
.light a > svg {fill: #fff; width: 3.2rem;}

.header .btnBurger,
.header .btnBurger .line {transition: all .3s; position: relative;}

.header .btnBurger::before {content: ''; transition: all .3s; position: absolute; top: -7px; left: 0; width: 100%; background: #141414; height: .1rem;}
.header .btnBurger::after {content: ''; transition: all .3s; position: absolute; bottom: -7px; right: 0; width: 100%; background: #141414; height: .1rem;}

.opened .btnBurger .line {opacity: 0;}
.opened .btnBurger::before {top: 0; transform: rotate(45deg); transform-origin: center; background: #fff;}
.opened .btnBurger::after {bottom: 0; transform: rotate(-45deg); transform-origin: center; background: #fff;}

.line {
    display: block;
    width: 1.5rem;
    height: .1rem;
    border-radius: 50px;
    background: #141414;
}

.light .line,
.light .btnBurger::after,
.light .btnBurger::before {background: #fff;}

.opened .line,
.opened .btnBurger::after,
.opened .btnBurger::before {background: #fff !important;}
.opened a > svg {fill: #fff}

@media screen and (min-width: 1024px) and (max-width: 1065px) {
    .header { padding: 1.25rem 1rem !important; }

    .header ul li { width: min-content; white-space: nowrap; }
}