@tailwind base;
@tailwind components;
@tailwind utilities;

.teacher-pic {
    background-image: url('../../public/images/main-teacher.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.vertical-text {
    font-family: "Roboto", sans-serif;
    writing-mode: vertical-rl;
    rotate: 180deg;
    color: transparent; 
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 67.97px;
    font-size: 3.625rem;
    font-weight: 500;
}