@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroll {
  animation: slide 25s linear infinite;
}

@media screen and (hover: hover) {
  .contScroll:hover .scroll {animation-play-state: paused;}
}
