@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {font-size: 14px;}
@media screen and (min-width: 768px) {
    :root {font-size: 15px;}
    .slider-item__text {min-height: 72px;}
}
@media screen and (min-width: 1280px) {
    :root {font-size: 16px;}
    .slider-item__text {min-width: 76.8px;}
}